<% if (photos.length > 0){ %>
  <script src="../photoswipe.umd.min.js"></script>
    <script src="../photoswipe-lightbox.umd.min.js"></script>
    
    <link rel="stylesheet" href="../photoswipe.css">
<div class="album-header">
  <h1 class="album-title"><%= name %></h1>
  <% if (description && description !== '') { %>
    <h2 class="des-title">「 <%- description %> 」</h2>
  <% } %>
</div>
<div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
  <% photos.forEach(function(photo){ %>
      <figure class="thumb js-thumb js-photos-thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a class="img-wrap js-img-wrap" href="<%= config.cdnDomain %><%= photo.src %>" itemprop="contentUrl" data-pswp-width="<%= photo.width %>" data-pswp-height="<%= photo.height %>">
            <img class="js-image" data-not-lz="true" alt="<%= photo.name %>" data-src="<%= config.cdnDomain %><%= photo.smallsrc %>" src="../preloader.gif" itemprop="thumbnail"/>
            <div style="display:none" class="hidden-caption-content">
              <% if (photo.exif) {%>
                <div class="exif-info">
                  
                <% if (photo.exif.Model) {%>
                  <p class="exif-p"><b><i class="icon-camera"></i></b><span><%= photo.exif.Model %></span></p>
                <% } %>
  
                <% if (photo.exif.FNumber || photo.exif.speed || photo.exif.ISO) {%>
                  <p class="exif-p"><b><i class="icon-image"></i></b><span>f/<%= photo.exif.FNumber %>, <%= photo.exif.speed?''+photo.exif.speed+'s, ':'' %> ISO<%= photo.exif.ISO %></span></p>
                <% } %>
  
                <% if (photo.exif.focalLength) {%>
                  <p class="exif-p"><b><i class="icon-film"></i></b><span><%= photo.exif.focalLength %>mm</span></p>
                <% } %>
  
                <% if (photo.exif.Time) {%>
                  <p class="exif-p"><b><i class="icon-clock"></i></b><span><%= photo.exif.Time %></span></p>
                <% } %>
              </div>
              <% } %>
              
            </div>
          </a>
          <figcaption itemprop="caption description"><%= photo.name %></figcaption>
          
      </figure>
  <% }) %>
  <% for (var i=0; i < 10; i++) {%>
    <figure class="thumb hide js-photos-thumb"></figure>
  <% } %>
</div>
<% } %>

<script type="text/javascript">
  var lightbox = new PhotoSwipeLightbox({
    gallery: '.photos',
    children: 'a',
    // dynamic import is not supported in UMD version
    pswpModule: PhotoSwipe 
  });
  lightbox.on('uiRegister', function() {
  lightbox.pswp.ui.registerElement({
    name: 'custom-caption',
    order: 9,
    isButton: false,
    appendTo: 'root',
    html: 'Caption text',
    onInit: (el, pswp) => {
      lightbox.pswp.on('change', () => {
        const currSlideElement = lightbox.pswp.currSlide.data.element;
        let captionHTML = '';
        if (currSlideElement) {
          const hiddenCaption = currSlideElement.querySelector('.hidden-caption-content');
          
          if (hiddenCaption) {
            // get caption from element with class hidden-caption-content
            captionHTML = hiddenCaption.innerHTML;
          } else {
            // get caption from alt attribute
            // captionHTML = currSlideElement.querySelector('img').getAttribute('alt');
          }
        }
        el.innerHTML = captionHTML || '';
      });
    }
  });
});
lightbox.init();
</script>
