<% if (albums.length>0){ %>
  <div class="albums">
    <% albums.forEach(function(album){ %>
      <figure class="thumb js-thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <% if(album.password) {%>
          <a class="js-secret-album img-wrap" data-href="./<%= album.url %>" data-tips="<%= album.passwordTips %>">
            <div class="bg-lock">
              <i class="icon-lock"></i>
            </div>
          <% } else { %>
          <a href="./<%= album.url %>" class="img-wrap">
          <% } %>
            <img class="js-image" alt="<%= album.name %>" data-src="<%= config.cdnDomain %><%= album.url %>/thumbnail.<%= config.picFormat %>" src="./preloader.gif" itemprop="thumbnail" data-not-lz="true" />
          </a>
          <% if(album.date) {%>
          <span class="date"><i class="icon-clock"></i><%= album.date %></span>
          <% } %>
          <% if(album.type) {%>
          <span class="type"><i class="icon-star-empty"></i><%= album.type %></span>
          <% } %>
          <figcaption itemprop="caption description"><%= album.name %></figcaption>
      </figure>
    <% }) %>
    <% for (var i=0; i < 10; i++) {%>
      <figure class="thumb hide"></figure>
    <% } %>
  </div>
  <div tabindex="-1" class="overlay js-overlay"></div>
<% } %>